{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block title %}Dashboard{% endblock title %}
{% block content %}




 <main class="main-content  mt-0">
    <div class="page-header align-items-start min-vh-100" style="background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');">
      <span class="mask bg-gradient-dark opacity-6"></span>
      <div class="container my-auto">
        <div class="row">
          {% if page %}
          <div class=" row justify-content-start">
          <div class="col-lg-4 col-md-4 col-4 ">
        {% else %}
               <div class=" row justify-content-center">
              <div class="col-lg-4 col-md-4 col-4 text-center">
               {% endif %}
            <div class="card z-index-0 fadeIn3 fadeInBottom">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                  <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Upload Video</h4>

                </div>
              </div>

              <div class="card-body">
                <form role="form" action="video" method="post"  enctype="multipart/form-data" class="text-start">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="hidden" name="name"  maxlength="150" class="form-control" placeholder="File Name" id="id_filename">

                        <div class=" input-group-outline my-4 mb-2 text-center">
    <label for="id_videofile" class="custom-file-upload ">
      <i class="fas fa-cloud-upload-alt "></i> Choose file
    </label>

    <input type="file" id="id_videofile" name="videofile" class=" form-control form-control-file" required>
                             </div>
  </div>
                     <div class="text-center">
  <button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2">Upload</button>
                  </div>
                </form>
              </div>
            </div>
              {% if score %}

               <h4>Score : {{ score }}</h4>
              {% endif %}
          </div>
              {% if images %}
            <div class="col-lg-8 col-md-8 col-8">
<section>
  <div class="container-fluid">
    <div class="row">

      <div class="scrollcards">
    {% for image in images %}
          <div class="card">
            <img class="card-img-top" src="{{ image }}">
          </div>
           {% endfor %}
               </div>

    </div>
   </div>
</section>
            </div>
            {% endif %}
        </div>
      </div>
            </div>
          </div>




        </div>
      </div>
      <footer class="footer position-absolute bottom-2 py-2 w-100">
        <div class="container">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-12 col-md-6 my-auto">


        </div>
      </footer>
    </div>
  </main>
{% endblock content %}