{% extends "base.html" %}
{% block content %}
<h1>Welcome {{ new_user.first_name }}!</h1>
<p>Your account has been successfully created. Now you can <a href="{% url 'visionplusapp:login' %}">log in</a>.</p>
{% endblock content %}