
{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block title %}Registration

{% endblock title %}
{% block content %}

{% if form.errors %}
    
{% endif %}
<!--    <form action="" method="post" class="form container">-->
<!--    {% csrf_token %}-->
<!--    {% bootstrap_form form %}-->
<!--    {% buttons %}-->
<!--    <button type="submit" class="btn btn-primary">Submit</button>-->
<!--    {% endbuttons %}-->
<!--</form>-->

  <main class="main-content  mt-0">
    <section>
      <div class="page-header min-vh-100">
        <div class="container">
          <div class="row">
            <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column">
              <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center" style="background-image: url('{% static 'img/illustrations/illustration-signup.jpg' %}'); background-size: cover;">
              </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
              <div class="card card-plain">
                <div class="card-header">
                  <h4 class="font-weight-bolder">Sign Up</h4>
                  <p class="mb-0">Enter your email and password to register</p>
                </div>
                <div class="card-body">
                  <form action="" method="post" role="form">
				   {% csrf_token %}
                       <div class="input-group input-group-outline mb-3">

<input type="text" name="username" maxlength="150" class="form-control" placeholder="Username" title="Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only." required="" id="id_username">
                    </div>
                    <div class="input-group input-group-outline mb-3">

                     <input type="text" name="first_name" maxlength="150" class="form-control" placeholder="First name" title="" id="id_first_name">
                    </div>
				 <div class="input-group input-group-outline mb-3">

				 <input type="text" name="last_name" maxlength="150" class="form-control" placeholder="Last name" title="" id="id_last_name">
				 </div>
                    <div class="input-group input-group-outline mb-3">

                      <input type="email" name="email" maxlength="254" class="form-control" placeholder="Email address" title="" id="id_email">
                    </div>
                    <div class="input-group input-group-outline mb-3">

                     <input type="password" name="password" class="form-control" placeholder="Password" title="" required="" id="id_password">
                    </div>
				 <div class="input-group input-group-outline mb-3">

				 <input type="password" name="password2" class="form-control" placeholder="Repeat Password" title="" required="" id="id_password2">
				 </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Sign Up</button>
                    </div>
                  </form>
                </div>
                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                  <p class="mb-2 text-sm mx-auto">
                    Already have an account?
                    <a href="{% url 'visionplusapp:login' %}"  class="text-primary text-gradient font-weight-bold">Sign in</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



 </main>


{% endblock content %}