{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}Login{% endblock title %}

{% block content %}



 <main class="main-content  mt-0">
    <div class="page-header align-items-start min-vh-100" style="background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');">
      <span class="mask bg-gradient-dark opacity-6"></span>
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-4 col-md-8 col-12 mx-auto">
            <div class="card z-index-0 fadeIn3 fadeInBottom">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                  <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Sign in</h4>

                </div>
              </div>
              <div class="card-body">
			      <div style="text-align: center;">

        {% if form.errors %}
        <p>
            Your username and password didn't match.Please
            Please try again.
        </p>
        {% else %}
        <p>Please, use the following form to log-in</p>
        {% endif %}
    </div>
                <form role="form" action="" method="post" class="text-start">
				  {% csrf_token %}
                 <div class="input-group input-group-outline my-3">

				  <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" class="form-control" placeholder="Username" title="" required="" id="id_username">
				  </div>
                  <div class="input-group input-group-outline mb-3">

                  <input type="password" name="password" autocomplete="current-password" class="form-control" placeholder="Password" title="" required="" id="id_password">
                  </div>


                  <div class="text-center">

                    <button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2">Sign in</button>

                  </div>
                  <p class="mt-4 text-sm text-center">
                    Don't have an account?
                    <a href="{% url 'visionplusapp:register' %}"  class="text-primary text-gradient font-weight-bold">Sign up</a>
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer position-absolute bottom-2 py-2 w-100">
        <div class="container">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-12 col-md-6 my-auto">


        </div>
      </footer>
    </div>
  </main>
{% endblock content %}